@import "./node_modules/rc-color-picker/assets/index.css";
@import "./node_modules/antd/dist/antd.css";

.ColorPickr {
    .content {
        display: inline-block;
    }
    .ant-input-wrapper {
        width: 150px;
        display: inline-block;
    }
    .rc-color-picker-wrap {
        vertical-align: middle;
    }
}
